
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <!-- Custom styles for this template -->

    <title>Agregateur d'articles</title>
  </head>

  <body>
    <div class="container">
      <header class="row shadow rounded pt-2 mb-3">
        <div class="col-lg-11">
		{% if login %}
		<h5><br>
			Bonjour, {{ login }}<br>
		</h5>
		<h6><br>{{ titre }}<br></h6>
		{% else %}
		<h5>
      <br>{{ titre }}<br>
    </h5>
                
		{% endif %}
        </div>
        <div class="col-lg-1">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Menu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/" title="Lien 1">Accueil</a></li>
	      {% if statut %}
	      	{% if statut == "admin" %}
	              <li><a href="/new_source" title="Lien 2">Gestion des sources</a></li>
		{% else%}
        	      <li><a href="/new_source" title="Lien 2">Gestion des sources</a></li>
		{% endif %}
	      {% endif %}
	      {% if login %}
	      	<li><a href="/deconnexion" title="Lien 3">Se déconnecter</a></li>
	      {% else %}
              	<li><a href="/connexion" title="Lien 3">Se connecter</a></li>
              	<li role="separator" class="divider"></li>
              	<li><a href="/inscription" title="Lien 4">S'inscrire</a></li>
	      {% endif %}
            </ul>
          </div> 
        </div> 
      </header>
      
          {% block content %}
          {% endblock %}
          
      <footer class="row">
        <section>
          <h6><br><br>{{ signature }}</h6>
        </section>
	    </footer>
    </div>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
