{% extends 'base.html' %}
   
{% block content %}
<!--<!DOCTYPE html>
<html>
<head>
    <title>Flask Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>-->
	<div class="row">
		<div id="leftbar" class="col-3">
			<form class=" mb-3" action="/actualise_src">
                                <input type="submit" value="Actualiser" />
                        </form>
			<form class=" mb-2">
                                <input type="hidden" name="title_search" value="" />
                                <input type="submit" value="Afficher tout" />
                        </form>
			<form class="overflow-auto">
				<input type="text" id="recherche" name="title_search" value="{{ title_search }}" placeholder="Entrez un mot clef..." />
				<h4 class="mt-3 text-uppercase">sources</h4>
				{% for source in sources %}

				<div class="custom-checkbox custom-control">
					
					<input class="custom-control-input" type="checkbox" id="src{{ source['id_s'] }}" name="src{{ source['id_s'] }}" {{'checked' if source['checked'] == 1 else ''}} /> <label for="src{{ source['id_s'] }}" class="custom-control-label">{{ source['nm_source'] }}</label>
				</div>
				{% endfor %}
				<input type="submit" value="Filtrer" class="mt-1" />
			</form>
		</div>
		<div id="articles" class="col-9">
			<p class="float-none">{{ nb_art }} articles affichés 
				{% if title_search %}
					pour la recherche "{{ title_search }}"
				{% endif %}
			</p>
			{% for art in all_art %}
				<div class="shadow-lg pt-2 px-2 pb-0 rounded">
					<a href="{{ art['url_article'] }}" class="text-primary" target="_blank" id = "mybutton" >
						<h5>{{ art['titre']}}</h5>
						<p>{{ art['nm_source'] }} {{ art['date_publi'] }}</p>
					</a>

				</div>
			{% endfor %}
		</div>
	</div>
	<!--</body>
</html>-->
{% endblock %}

