{% extends 'base.html' %}

{% block content %}
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<div class="col-lg-4 col-md-12 col-sm-12 col- shadow-lg rounded">
	<h2 style="text-align:center; padding-top:30px;">Créer un compte</h2>
	{% if error %}
	<p class="error"><strong>Erreur : </strong>{{ error }}</p>
	{% endif %}
	<form action="/inscription" method="post">
		<div class="group-form" style="padding-top:20px;">
			<input type="text" class="form-control" id="username" placeholder=" entrer votre nom ou pseudo." name="username" style="height:30px; border-radius:20px;">
		</div>
		<div class="group-form" style="padding-top:20px;">
			<input type="email" class="form-control" id="email" placeholder=" entrer votre email" name="email" style="height:30px; border-radius:20px;">
		</div>
		<div class="group-form" style="padding-top:20px;">
			<input type="password" class="form-control" id="password" placeholder=" entrer votre mot de passe" name="password" style="height:30px; border-radius:20px;">
		</div>
		<div class="group-form" style="padding-top:10px;">
			<input type="password" class="form-control" id="password" placeholder=" confirmer votre mot de passe" name="password_bis" style="height:30px; border-radius:20px;" required>
		</div>
		<div class="text-center">
		<input type="submit" class="col-md-offset-4 m-3" value="S'inscrire" />
		</div>
	</form>
</div>
{% endblock %}
