<div class="col-lg-6 col-md-12 col-sm-12 col-">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <h4 class="font-weight-bold text-md-left text-uppercase">Ajouter une source</h4>
      <form method="get">
        <!--<div class="form-group">
          <label for="nm_source">Nom de votre source</label>
          <input name="nm_source" class="form-control" type="text" placeholder="Entrez le nom de votre source">
          <small id="nm_source_help" class="form-text text-muted">Optionnelle</small>
        </div>-->
        {% if error == None %}
        <div class="form-group">
          <div class="col-sm-12" style="padding-top:20px;">  
            <label for="username">Votre nom ou pseudo</label>
            <input name="username" class="form-control" type="text" placeholder="entrer votre nom ou pseudo.">
            <small id="username_help" class="form-text text-muted">Mention obligatoire</small>
          </div>
          <div class="col-sm-12" style="padding-top:20px;">  
            <label for="email">Votre adresse mail</label>
            <input name="email" class="form-control" type="email" placeholder="entrer votre email">
            <small id="email_help" class="form-text text-muted">Mention obligatoire</small>
          </div>
          <div class="col-sm-12" style="padding-top:20px;">  
            <label for="password">Votre mot de passe</label>
            <input name="password" class="form-control" type="text" placeholder="entrer votre mot de passe">
            <small id="password_help" class="form-text text-muted">Mention obligatoire</small>
          </div>
          <div class="col-sm-12" style="padding-top:20px;">  
            <label for="password_bis">Votre mot de passe</label>
            <input name="password_bis" class="form-control" type="text" placeholder="confirmer votre mot de passe">
            <small id="password_bis_help" class="form-text text-muted">Mention obligatoire</small>
          </div>
        </div>
        {% elif error == 2 %}
        <div class="form-group has-success">
          <label class="form-control-label" for="inputSuccess1">Lien url de votre flux</label>
          <input name="url_flux" id="inputValid" class="form-control is-valid" type="text" placeholder="Entrez une nouvelle url ?">
          <div class="valide-feedback text-success">Votre url est validée !</div>
        </div>
        {% elif error == 3 %}
        <div class="form-group has-danger">
          <label class="form-control-label" for="inputDanger1">Lien url de votre flux</label>
          <input name="url_flux" id="inputInvalid" class="form-control is-invalid" type="text" placeholder="Essayez une autre ?">
          <div class="invalide-feedback text-danger">Désolé, votre url est invalide.</div>
        </div>
        {% endif %}
        <button type="submit" value="Create" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>