{% extends 'base.html' %}

{% block content %}
<!--<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une source</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
  <body>-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="shadow p-3 mb-5 bg-white rounded">
          <h4 class="font-weight-bold text-md-left text-uppercase">Vos sources</h4>
          <form>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">nm_source1</label>
                <small id="customCheck1" class="form-text text-muted">Supprimer cette source</small>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">nm_source2</label>
                <small id="customCheck1" class="form-text text-muted">Supprimer cette source</small>
              </div>
              <br>
              <button type="valider" class="btn btn-primary">Valider</button>
          </form>
          </div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <h4 class="font-weight-bold text-md-left text-uppercase">Ajouter une source</h4>
            <form action="/new_source">
              <div class="form-group">
                <label for="nm_source{{dico['nm_source']}}">Nom de votre source</label>
                <input name="nm_source{{dico['nm_source']}}" class="form-control" type="text" placeholder="Entrez le nom de votre source">
                <small id="nm_source_help" class="form-text text-muted">Optionnelle</small>
              </div>
              <div class="form-group">
                <label for="url_flux{{dico['url_flux']}}">Lien url de votre flux</label>
                <input name="url_flux{{dico['url_flux']}}" class="form-control" type="text" placeholder="Entrez le flux de votre source">
                <small id="url_flux_help" class="form-text text-muted">Mention obligatoire</small>
              </div>
              <button type="submit" value="Create" class="btn btn-primary">Ajouter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
	<!--</body>
</html>-->
{% endblock %}